# fly.toml app configuration file generated for horse-racing-backend on 2026-02-21T11:58:37Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'horse-racing-backend'
primary_region = 'cdg'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[mounts]
  source="backend_data"
  destination="/app/data"
